/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: cursive;
}
h1 {
  text-align: center;
  margin: 50px;
  color: black;
}

/* Simple Responsive Framework. */
.mainbox {
  position: absolute;
  padding: 10px;
}
.box {
  background-color: #ddd2d2;
  border : 1px solid black;
  margin: 0.5%;
  padding: 5px;
}

.title {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  margin: 0px;
  padding: 5px;
  display: inline;
  float: right;
  position: relative;
  top: -6px;
  right: -6px;
}

.chicolor{
  background-color: #eaa1e2;
}
.beefcolor{
  background-color: #ce3b3b;
}
.sushicolor{
  background-color: #ede617;
}

p {
  color: black;
  font-size: 16px;
  clear: right;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 32.3%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 49.0%;
  }
  .col-md-12 {
    width: 99%;
    float: left;

  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sl-12 {
    width: 99%;
    float: left;

  }
}
